.header-container {
  width: 100%;
  height: minmax(5rem, 7rem);
  /* background: linear-gradient(145deg, red, yellow); */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}
.header-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.logo {
  width: 35%;
}
.logo h2 {
  display: block;
  text-align: center;
  text-transform: capitalize;
  line-height: 30px;
}
.logo h2 span {
  font-size: 1.6rem;
  color: var(--hover-color);
}
.navbar {
  display: flex;
  width: 50%;
  min-height: 100%;
  justify-content: center;
}
.ham {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.ham svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.phone-navlist {
  width: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: rgb(41, 117, 75);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1.5rem;
  z-index: 9;
}
.phone-navlist > svg {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 1.4rem;
  right: 1.3rem;
  cursor: pointer;
}
.phone-navlist li a {
  text-decoration: none;
  text-align: center;
  display: block;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-family: "Fira Sans", sans-serif;
  transition: 500ms ease;
}
.navlist {
  width: 80%;
  height: 100%;
  gap: 1.5rem;
  align-items: center;
  list-style-type: none;
  display: none;
}
.navlist li a {
  text-decoration: none;
  text-align: center;
  display: block;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-family: "Fira Sans", sans-serif;
  transition: 500ms ease;
}
.navlist li a:hover {
  color: var(--hover-color);
}

/* hero section */
.hero-container {
  width: 100%;
  height: 100vh;
  overflow: overlay;
}
.hero-wrapper {
  height: 100%;
  display: flex;
  padding: 0 1.5rem;
  gap: 1.5rem;
}
.info-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-wrapper h2 {
  text-transform: capitalize;
  font-size: 2.5rem;
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  padding: 0.4rem 0;
}
.info-wrapper h3 {
  font-size: 2rem;
  line-height: 35px;
  text-transform: capitalize;
}
.info-wrapper p {
  padding-top: 1rem;
  font-size: 1.4rem;
  line-height: 30px;
  text-transform: capitalize;
}
/* hero animation */
.animation-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.animation-wrapper div svg {
  aspect-ratio: 16/24;
}

/* projects  */
.projects-container {
  width: 100%;
  min-height: 100vh;
  background: #3e0967;
  position: relative;
}
.projects-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
}
.projects-wrapper > h2 {
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
}
.projects-wrapper section {
  height: 50%;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  margin: 0.5rem;
}
.project-info {
  width: 40%;
  height: auto;
}
.project-info h2 {
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 0.4rem 0;
}
.project-info p {
  line-height: 30px;
}
.projects-wrapper > section img {
  width: 40%;
  height: 100%;
}
.projects-wrapper section:last-child img {
  width: 40%;
  height: 100%;
}
/* profile */
.profile-container {
  width: 100%;
  height: 100vh;
}
.profile-wrapper {
  height: 100%;
  padding: 2rem 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
.profile-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;

  padding: 0 1rem;
}
.profile-info h2,
.profile-info p,
.profile-info h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
  display: block;
  width: 100%;
}
.profile-info button {
  width: 40%;
  height: 2rem;
  text-transform: capitalize;
  margin: 0 auto;
  background-color: var(--hover-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.line {
  width: 15px;
  height: 100%;
  background-color: rgba(214, 214, 214, 0.584);
  border-radius: 10px;
  background-position: 0 0;
}
.profile-img {
  width: 45%;
  height: 100%;
  overflow: hidden;
}
.profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* contract */
.contract-container {
  width: 100%;
  height: 100vh;
}
.contract-container > h2 {
  text-transform: capitalize;
  font-size: 2rem;
  padding: 1.5rem 0;
  text-align: center;
}
.contract-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}
.form {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  overflow: hidden;
}
.form h2 {
  text-align: center;
  line-height: 45px;
  text-transform: capitalize;
  font-size: 1.4rem;
}
.form input {
  height: 2rem;
  width: 100%;
  max-width: 400px;
  outline: none;
  border: 1px solid rgb(116, 243, 156);
  border-radius: 5px;
}
.form input::placeholder {
  text-transform: capitalize;
  padding-left: 0.2rem;
}
.form textarea {
  width: 100%;
  height: 100px;
  max-width: 400px;
  resize: none;
  outline: none;
}
.form a {
  width: 8rem;
  text-align: center;
  height: 2rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  background-color: var(--hover-color);
  text-decoration: none;
  border-radius: 5px;
}
.valid {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 40px;
  background-color: red;
}
/* contract links */
.contract-links {
  width: 50%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
.info-div {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-div h2 {
  display: block;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
  font-size: 1.4rem;
}
.info-div h2 span {
  color: purple;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.info-div a {
  margin: 1rem 0;
  width: 9rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.1rem;
  display: block;
  padding: 0.4rem 0;
  border-radius: 10px;
  text-decoration: none;
  height: 2.5rem;
  background-color: purple;
  border: none;
}
.links {
  height: 3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.links a {
  transition: 500ms ease;
}
.links a:hover {
  color: purple;
}
.links a svg {
  display: block;
  width: 50px;
  height: 2rem;
}
/* .contract-links svg {
  width: 100%;
  height: 100%;
} */
/* breakpoints */
@media screen and (min-width: 768px) {
  .header-container {
  }
  .logo {
    width: 20%;
  }
  .ham {
    display: none;
  }
  .navlist {
    display: flex;
  }
  .hero-wrapper {
    padding: 1.5rem;
  }
  .animation-wrapper div svg {
    aspect-ratio: 22/16;
  }
  .info-wrapper {
    padding-left: 2.4rem;
  }
  .projects-wrapper > section img {
    clip-path: polygon(0 19%, 99% 0, 100% 100%, 0% 100%);
  }
  .projects-wrapper section:last-child img {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
  }
}
/* animations  */
.progress {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rebeccapurple;
  width: 100%;
  height: 2rem;
}
